
.article img, .article .article-body{
	float: left;
}

.article img{
	margin-right: 2.5em;
}

.article .publisher-info{
	font-size: 0.9em;
	margin-top: 0.5em;
}

.article .publisher{
	font-style: italic;
}